<!--The content below is only a placeholder and can be replaced.-->
<div class="p-0 m-0 container-fluid fixed-top">
  <p class="navbar-brand text-center h3 w-100">sunCode</p>
  <div class="navbar p-0 m-0">
    <button class="nav-item btn-dark text-center h5 w-50 border-0" [disabled]="!showDecode" (click)="chnageVar('encodePlox')">Encode</button>
    <button class="nav-item btn-dark text-center h5 w-50 border-0 " [disabled]="showDecode" (click)="chnageVar('decodePlox')">Decode</button>
  </div>
</div>
<div style="padding-top: 80px">
  <app-encode *ngIf="!showDecode"></app-encode>
  <app-decode *ngIf="showDecode"></app-decode>
</div>
<router-outlet></router-outlet>
